In [29]:
import sklearn
import pandas as pd
data = pd.read_csv(path)

In [30]:
import pandas as pd

path = r"C:\Users\srira\ドキュメント\datasets-main\global_cars_dataset_synthetic.csv"
data = pd.read_csv(path)

In [31]:
data.head()

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country
0,CAR_0001,Mercedes,2006,SUV,Petrol,Manual,4089,547,17,73407,USA
1,CAR_0002,Nissan,2023,Coupe,Petrol,Automatic,4618,167,25,79370,USA
2,CAR_0003,Nissan,2007,Hatchback,Diesel,Manual,1802,110,16,76549,China
3,CAR_0004,Nissan,2013,Coupe,Petrol,Manual,1835,373,16,48722,USA
4,CAR_0005,Hyundai,2009,Hatchback,Hybrid,Automatic,2332,145,28,83265,UK

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_ID                 300 non-null    object
 1   Brand                  300 non-null    object
 2   Manufacture_Year       300 non-null    int64
 3   Body_Type              300 non-null    object
 4   Fuel_Type              300 non-null    object
 5   Transmission           300 non-null    object
 6   Engine_CC              300 non-null    int64
 7   Horsepower             300 non-null    int64
 8   Mileage_km_per_l       300 non-null    int64
 9   Price_USD              300 non-null    int64
 10  Manufacturing_Country  300 non-null    object
dtypes: int64(5), object(6)
memory usage: 25.9+ KB

In [33]:
data.tail()

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country
295,CAR_0296,Audi,2015,Pickup,Hybrid,Automatic,3572,137,30,74301,Germany
296,CAR_0297,Ford,2023,Hatchback,Petrol,Manual,4348,342,21,97523,USA
297,CAR_0298,Mercedes,2020,SUV,Electric,Automatic,3538,151,10,66351,Japan
298,CAR_0299,Ford,2023,Coupe,Diesel,Manual,3954,442,10,85653,Germany
299,CAR_0300,Kia,2023,SUV,Hybrid,Manual,2645,536,15,118185,Germany

In [34]:
data.describe()

,Manufacture_Year,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD
count,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2015.123333,3052.880000,328.346667,19.716667,60848.823333
std,5.966023,1117.937497,153.202644,6.028061,34445.525598
min,2005.000000,1001.000000,70.000000,10.000000,5221.000000
25%,2010.000000,2074.000000,188.250000,15.000000,29418.500000
50%,2015.000000,3117.500000,329.500000,19.500000,59179.500000
75%,2020.000000,3964.000000,454.750000,24.000000,89692.250000
max,2025.000000,4994.000000,599.000000,30.000000,119587.000000

In [35]:
data["Price_USD"].mean()

np.float64(60848.823333333334)

In [36]:
data["Price_USD"].median()

59179.5

In [37]:
data["Price_USD"].std()

34445.525597932865

In [38]:
data.isnull().sum()

Car_ID                   0
Brand                    0
Manufacture_Year         0
Body_Type                0
Fuel_Type                0
Transmission             0
Engine_CC                0
Horsepower               0
Mileage_km_per_l         0
Price_USD                0
Manufacturing_Country    0
dtype: int64

In [39]:
x = data.drop("Price_USD", axis=1)
y = data["Price_USD"]

In [40]:
data.columns

Index(['Car_ID', 'Brand', 'Manufacture_Year', 'Body_Type', 'Fuel_Type',
       'Transmission', 'Engine_CC', 'Horsepower', 'Mileage_km_per_l',
       'Price_USD', 'Manufacturing_Country'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)